.footer {
  width: 100%;
  font-size: medium;
  color: whitesmoke;
  background-color: var(--color-grey-900);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

.line {
  display: flex;
  outline: none;
  color: white;
}
